
* { margin: 0; padding: 0; box-sizing: border-box; }
li { list-style-type: none; }
a { text-decoration: none; color: black; }

.wrap { width: 100%; height: 800px; }
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    background-color: cornflowerblue;
    position: relative;
}

nav { width: 800px; }
nav > ul { display: flex; }
nav > ul > li {
    padding: 20px;
    width: 160px;
    height: 80px;
    line-height: 40px;
    text-align: center;
    background-color: cornflowerblue;
    position: relative;
    cursor: pointer;
}

nav > ul > li a { color: white; }

nav .submenu { position: absolute; top: 80px; left: 0; display: none; } 
nav .submenu li { width: 160px; height: 80px; padding: 20px; background-color: royalblue; }
nav .submenu li:hover { background-color: slateblue; }

.logo img { height: 100%; }