
h1 { text-align: center; }

#slide { 
    position: relative;
    width: 500px;
    height: 500px;
    margin: 100px auto;
    padding: 10px;
}
#slide > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
#slide img { width: 100%; }